<template>
  <v-container>
    <v-row class="text-center">
      <v-col cols="12">
        <v-img :src="require('../assets/logo.svg')" class="my-3" contain height="200" />
      </v-col>

      <v-col class="mb-4">
        <h1 class="display-2 font-weight-bold mb-3">Bem vindo a gpeople</h1>

        <p class="subheading font-weight-regular">Sistema de monitoramento de pesssoas</p>
        <v-row class="text-center">
          <v-col class="mb-8">
            <gmap-map
              :center="{lat: -4.9609498, lng: -45.2744159}"
              :zoom="6"
              style="width: 100%; height: 500px"
              :options="{scrollwheel: true}"
              ref="map"
            >
              <gmap-info-window
                :options="infoOptions"
                :position="infoWindowPos"
                :opened="infoWinOpen"
                @closeclick="infoWinOpen=false"
              ></gmap-info-window>
              <gmap-cluster>
                <gmap-marker
                  v-for="(m, index) in posicoes"
                  :position="m.coords"
                  :draggable="false"
                  @click="toggleInfoWindow(m,index)"
                  :key="index"
                ></gmap-marker>
              </gmap-cluster>
            </gmap-map>
          </v-col>
        </v-row>
      </v-col>

      <!-- <v-col
        class="mb-5"
        cols="12"
      >
        <h2 class="headline font-weight-bold mb-3">
          What's next?
        </h2>

        <v-row justify="center">
          <a
            v-for="(next, i) in whatsNext"
            :key="i"
            :href="next.href"
            class="subheading mx-3"
            target="_blank"
          >
            {{ next.text }}
          </a>
        </v-row>
      </v-col>-->

      <!-- <v-col
        class="mb-5"
        cols="12"
      >
        <h2 class="headline font-weight-bold mb-3">
          Important Links
        </h2>

        <v-row justify="center">
          <a
            v-for="(link, i) in importantLinks"
            :key="i"
            :href="link.href"
            class="subheading mx-3"
            target="_blank"
          >
            {{ link.text }}
          </a>
        </v-row>
      </v-col>-->

      <!-- <v-col
        class="mb-5"
        cols="12"
      >
        <h2 class="headline font-weight-bold mb-3">
          Ecosystem
        </h2>

        <v-row justify="center">
          <a
            v-for="(eco, i) in ecosystem"
            :key="i"
            :href="eco.href"
            class="subheading mx-3"
            target="_blank"
          >
            {{ eco.text }}
          </a>
        </v-row>
      </v-col>-->
    </v-row>
  </v-container>
</template>

<script>
import { gmapApi } from "vue2-google-maps";
export default {
  name: "HelloWorld",

  data() {
    return {
      posicoes: [],
      infoWindowPos: null,
      infoWinOpen: false,
      currentMidx: null,
      infoOptions: {
        content: "",
        pixelOffset: {
          width: 0,
          height: -35
        }
      }
    };
  },
  computed: {
    google: gmapApi
  },
  mounted() {
    this.pegaLocalizao();
  },
  methods: {
    pegaLocalizao() {
      setInterval(() => {
        if (navigator.geolocation) {
          navigator.geolocation.watchPosition(positions => {
            //Busca usuario
            let posicaoAtualUser = this.posicoes.filter(
              p => p.user === "gabriel"
            );

            //Se ele não existe é criado
            if (!posicaoAtualUser.length) {
              this.posicoes.push({
                user: "gabriel",
                coords: {
                  lat: positions.coords.latitude,
                  lng: positions.coords.longitude
                }
              });

              console.log("cria");

            } else {
              // atualizo

              let positionsDevive = {
                lat: positions.coords.latitude,
                lng: positions.coords.longitude
              };
              // pega a posicao do indice do user
              let objIndex = this.posicoes.findIndex((p => p.user === "gabriel"));
            
              
              this.posicoes[objIndex].coords = positionsDevive;
              console.log("atualiza");
              

            }


            // console.log(positions);
          });
        } else {
          alert("Desculpe, não foi possivel, mude de navegador");
        }
      }, 2000);
    },
    toggleInfoWindow(marker, idx) {
      this.infoWindowPos = marker.coords;
      this.infoOptions.content = `<div>
            <strong>User: </strong>${marker.user} 
       <br>
       
       </div>`;

      // check if its the same marker that was selected if yes toggle
      if (this.currentMidx === idx) {
        this.infoWinOpen = !this.infoWinOpen;
      } else {
        // if different marker set infowindow to open and reset current marker index
        this.infoWinOpen = true;
        this.currentMidx = idx;
      }
    }
  }
};
</script>
